header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1528825871115-3581a5387919");
    background-size: cover;
    background-position: center;
}