.form-container {
    height: 100vh;
    font-size: clamp(1rem, 2.5vw, 2rem);
}



.card-width {
    width: 600px;
}


.card-width {
    width: 100%;
    max-width: 420px;
    border: 1px solid var(--primary-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    text-align: center;
}

.btn-primary {
    background-color: var(--accent-color);
    border: none;
}

.btn-primary:hover {
    background-color: var(--primary-color);
}

a.text-decoration-none {
    color: var(--accent-color);
}

a.text-decoration-none:hover {
    text-decoration: underline;
}