.water-spot-card{
    padding: 0;
    height: 250px;
}
.water-spot-card div,
.water-spot-card div{
    height: 100%;
    display: flex;
    justify-content: center;
}

.review-card{
    width: 350px;
    height: 430px;
}